@font-face {
    font-family: 'Harry P';
    src: local('Harry P'),
    url('/src/assets/fonts/Harry Potter/HarryP-MVZ6w.ttf') format('truetype');
}

.harry-potter-font {
    font-family: 'Harry P', sans-serif;
}

body {
    color: #3e3e3f;
    background-color: #000000;
}

p {
    line-height: 2;
}

a {
    transition: all 0.3s ease;
}

.container-fluid-x {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    overflow-x: hidden !important;
}

.color-primary {
    color: #002136;
}

.navbar-toggler {
    display: none;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1275px;
    padding: 66px 60px;
    padding-right: 0 !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

.box-pad {
    padding: 50px 55px;
}

.section-wrap {
    width: calc(100% - 500px);
    margin-left: auto;
    margin-right: 0;
    padding-right: 0 !important;
    overflow-x: hidden;
}

.nav-link {
    font-size: 1.25rem;
    padding-top: 12px;
    padding-bottom: 12px;
}

.nav-link .white-rect {
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-link.current .white-rect,
.nav-link:hover .white-rect {
    opacity: 1;
}

.main-nav .nav-link:hover {
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes blinker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}



@media (max-width: 991px) {
    .project-wrap {
        max-width: 780px;
        margin: auto;
    }
}

@media (max-width: 767px) {
    .project-wrap {
        max-width: 520px;
        margin: auto;
    }
}

@media (max-width: 480px) {
    .project-wrap {
        max-width: 260px;
        margin: auto;
    }
}

@media (max-width: 1600px) {
    .project-wrap {
        max-width: 780px;
        margin: auto;
    }

    .sidebar {
        width: 25%;
        max-width: none;
        padding-left: 30px;
        padding-right: 30px;
    }

    .social-link {
        margin: 5px;
    }

    .section-wrap {
        width: 74%;
        padding-right: 0 !important;
        padding-left: 0 !important;
        overflow-x: hidden;
    }

    .img-wrap a {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1200px) {
    .project-wrap {
        max-width: 520px;
        margin: auto;
    }
}


@media (max-width: 991px) {
    .bg-black-transparent {
        background-color: rgba(0, 0, 0, 0.5);
    }

    footer p {
        line-height: 1;
    }

    .sidebar {
        width: 250px;
        left: -250px;
        padding: 15px;
        transition: all 0.3s ease;
    }

    .navbar-toggler {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px 15px;
        transition: all 0.3s ease;
        border-radius: 0 5px 5px 0;
    }

    .navbar-toggler:focus {
        outline: none;
    }

    .sidebar {
        transition: 0.5s ease;
        display: none;
    }

    .sidebar.show .navbar-toggler {
        left: 250px !important;
    }

    .section-wrap {
        width: 100%;
        padding-right: 0 !important;
        padding-left: 0 !important;
        overflow-x: hidden;
    }

    figure.effects h2 {
        font-size: 1.1rem;
        margin-bottom: 25px;
    }

    .project-item figure p {
        font-size: 63%;
        padding: 0;
        line-height: 1.5;
    }

}

@media (max-width: 767px) {
    .section {
        padding: 30px;
        padding-right: 0 !important;
        padding-left: 0 !important;
        overflow-x: hidden;
    }
}

@media (max-width: 554px) {
    .section {
        padding: 15px;
        padding-right: 0 !important;
        padding-left: 0 !important;
        overflow-x: hidden;
    }
}

@media (max-width: 383px) {
    .box-pad {
        padding: 50px 30px;
    }
}
