---

import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar/Sidebar.vue'
import Intro from '../components/Intro.vue'
import About from '../components/About.vue';
import Projects from '../components/Projects.vue';
import Skills from '../components/Skills.vue';
import Contact from '../components/Contact.vue'

---

<Layout title="ronhedwigzape">
    <main class="container-fluid-x">
        <div class="row">
            <Sidebar client:load/>
            <main role="main" class="ps-sm-auto col-12">
                <Intro client:load/>
                <About client:load/>
                <Projects client:load/>
                <Skills client:load/>
                <Contact client:load />
            </main>
        </div>
    </main>
</Layout>

<style>

</style>
