@font-face {
    font-family: 'Potter';
    src: local('HarryPotter'), url('/fonts/HarryPotter.ttf') format('truetype');
}

.potter {
    font-family: Potter, serif !important;
}

.text-shadow {
    text-shadow: #000000 3px 3px 5px;
}
