---
export interface Props {
    title: string;
}

const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="A Harry Potter Portfolio Theme">
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>

    <title>{title}</title>

    <link rel="stylesheet" href="/src/assets/fontawesome-6.3.0/css/all.min.css"/>
    <link rel="stylesheet" href="/src/assets/bootstrap-5.3.0-alpha/bootstrap.min.css"/>
    <script src="/src/assets/bootstrap-5.3.0-alpha/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/src/styles/global.css"/>
</head>
<body>
<slot/>
</body>
</html>
<style is:global>

</style>
